<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Optional permissions (depending on your app's functionality) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignupLoginRealtime"
        tools:targetApi="31">
        <activity
            android:name=".PrescriptionDetails"
            android:exported="false" />
        <activity
            android:name=".PrescriptionList"
            android:exported="false" />
        <activity
            android:name=".ChatGpt"
            android:exported="false"
            android:theme="@style/Theme.ChatGPTTheme" />
        <activity
            android:name=".Prescription"
            android:exported="false" />
        <activity
            android:name=".DossierList"
            android:exported="false" />
        <activity
            android:name=".DossierDetaild"
            android:exported="false" />
        <activity
            android:name=".DoctorContactDetails"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".CompleteYourInformation"
            android:exported="false" />
        <activity
            android:name=".AppointementDoctorList"
            android:exported="false" />
        <activity
            android:name=".Account_Settings"
            android:exported="false" />
        <activity
            android:name=".Med_Info"
            android:exported="false" />
        <activity
            android:name=".Dossier"
            android:exported="false" />
        <activity
            android:name=".ContactDoctorList"
            android:exported="false" />
        <activity
            android:name=".AppointementList"
            android:exported="false" />
        <activity
            android:name=".ThirdAppointementPage"
            android:exported="false" />
        <activity
            android:name=".SecondAppointementPage"
            android:exported="false" />
        <activity
            android:name=".FirstAppointementPage"
            android:exported="false" />
        <activity
            android:name=".DoctorList"
            android:exported="false" />
        <activity
            android:name=".UserMainPage"
            android:exported="false" />
        <activity
            android:name=".DoctorMainPage"
            android:exported="false" />
        <activity
            android:name=".NextSignUpDoctor"
            android:exported="false" />
        <activity
            android:name=".SignUpDoctor"
            android:exported="false" />
        <activity
            android:name=".Choose_doctor_user"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LogoPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>